<% page_title "Whitelist Requests Charts" %>
<div class="well">
  <div class="page-header">
    <h1>Whitelist Requests Charts</h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Whitelist Requests by Day:</h2>
      <p>Count of Whitelist Requests received per day</p>
      <%= line_chart @whitelist_requests_chart %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2>Whitelist Requests by status:</h2>
      <p>Count of Whitelist Requests by their status</p>
      <%= line_chart @whitelist_requests_by_status %>
    </div>
  </div>

</div>
