<% content_for :title, "Rockets Rifles Robots" %>
<div class="well">
  <div class="page-header">
    <h1>Rockets Rifles Robots</h1>
  </div>

  <p>Find me in app/views/servers/rrr.html.erb</p>

</div> <!-- End of Page Well -->
