<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>v.0.0.1.2 - 11/16/2013 | 2 A.M</h3>
	</div>
	<div class="panel-body">
		<p><strong>Things Changed:</strong></p>
		<ul>
			<li>Changed Default Font Viga to Lato </li>
			<li>Will only post the last 5 versions on change log page until I can get it paginated</li>
		</ul>
	</div>	
</div>

<div class="panel panel-info">
	<div class="panel-heading">
		<h3>v.0.0.1 - 11/15/2013 | 11:30P.M</h3>
	</div>
	<div class="panel-body">
		<p><strong>Things Added:</strong></p>
		<ul>
			<li>Created Rails Project</li>
			<li>Added Static Pages to Site</li>
			<li>Fleshed out Site Style, Thanks Bootstrap!</li>
			<li>Bootstrap Gems/Stylesheets</li>
		</ul>
	</div>	
</div>