<div class="well">
	<div class="page-header">
		<h1>Change Log</h1>
	</div>

			<p>This page reflects the changes we make to our site. It is not automatically updated and has to be done manually. It may not be up to date, though we will try to keep it updated.</p>
			

			<%= render 'pages/change_log' %>
</div>