<div class="well">
	<div class="page-header">
		<h1>Map Downloads</h1>
	</div>
	<p>Downloads will be posted every month so that you can regularly keep a backup of your builds if the unlikely event of a critical server failure happens.</p>


	<div class="alert alert-danger">
		<p>These downloads are not automatic and may not be updated quickly!</p>
	</div>

	<table class="table table-bordered table-striped">
		<tr>
			<td><strong>Date</strong></td>
			<td><strong>Map Download</strong></td>
		<tr class="success">
			<td>11/16/2013</td>
			<td><%= link_to 'Latest Map Download', '' %></td>
		</tr>
		<tr>
			<td>10/13/2013</td>
			<td><%= link_to 'Download', 'http://maps.athensmc.com/backups/101313-00-50survival.tar.gz' %></td>
		</tr>
	</table>
</div>