<% content_for :title, "Home" %>
<div class="well">
	<div class="jumbotron athensbanner center">
		<center><img src="../athensLogo.png" class="img-responsive" />	</center>
	</div>

	<div class="page-header">
		<h1>Welcome Home to Athens</h1>
	</div>
	<div class="row">
		<p>Greetings! AthensMC is a minecraft community focused around friendships, the community and hanging out on a server together. This site will tell you basic information about the community. Be sure to check out the Forums on the link in the header to learn much much more!</p>
		<p>We currently have two servers active using custom modpacks on the <strong>Technic Launcher</strong>. We also run a <strong>Direwolf20 FTB Pack</strong>. To find out more information about our servers/packs please be sure to click the Information link.</p>
	</div>
	<!--<div class="row">
		<div class="col-md-4">
				<div class="well">
					hey
				</div>
		</div>
		<div class="col-md-4">
				<div class="well">
					hey
				</div>
		</div>
		<div class="col-md-4">
				<div class="well">
					hey
				</div>
		</div>
	</div>
-->

</div>
