<% page_title "Home" %>
<div class="well">
	<div class="jumbotron athensbanner center">
		<center>
		<%= image_tag "athensLogo.png" %>
			</center>
	</div>

	<div class="page-header">
		<h1><%= t('welcome_home') %></h1>
	</div>
	<p>We're a gaming community focused on bringing high-quality servers to our community. We have a range of servers for your entertainment and we are constantly working to do more community events as well as add more servers. </p>

	<p>We have three minecraft servers (Modded - Direwolf20 FTB Pack and our custom Rockets Rifles Robots pack) and a Vanilla server running 1.7.9 at the moment.
We also run Garry's Mod servers for community events, usually every Saturday. </p>

	<p>If you'd like to find out more information click <%= link_to 'here', information_path %> or join us on our forums at <%= link_to 'http://forums.athensmc.com', 'http://forums.athensmc.com' %></p>

	<!--<div class="row">
		<div class="col-md-4">
				<div class="well">
					hey
				</div>
		</div>
		<div class="col-md-4">
				<div class="well">
					hey
				</div>
		</div>
		<div class="col-md-4">
				<div class="well">
					hey
				</div>
		</div>
	</div>
-->

</div>
