<div class="well">
	<div class="jumbotron center">
		<img src="http://i.imgur.com/xn7C8bZ.png" />
		
    </ul>
		
	</div>

	<div class="">
		<p>This is content inside of the well, but outside of the jumbotron. How are you guys doing today?</p>

	</div>
</div>