<% content_for :title, "Home" %>
<div class="well">
	<div class="jumbotron athensbanner center">
		<center><img src="../athensLogo.png" class="img-responsive" />	</center>
	</div>

	<div class="page-header">
		<h1>Welcome Home to Athens</h1>
	</div>
		<p>Greetings! AthensMC is a minecraft community focused around friendships, the community and hanging out on a server together. This site will tell you basic information about the community. Be sure to check out the Forums on the link in the header to learn much much more!</p>

		<p>We used to run a vanilla server, but recently we have been very interested in the modded server side of things. Our former instance of the vanilla server closed 12/22/2013.  We currently have two servers active using custom modpacks on the <strong>Technic Launcher</strong></p>
</div>
