<div class="well">
	<div class="jumbotron athensbanner center">
		<center><img src="http://i.imgur.com/xn7C8bZ.png" class="img-responsive" />	</center>
	</div>

	<div class="page-header">
		<h1>Welcome Home to Athens</h1>
	</div>
		<p>Greetings! AthensMC is a minecraft community focused around friendships, the community and hanging out on a server together. This site will tell you basic information about the community. Be sure to check out the Forums on the link in the header to learn much much more!</p>
</div>