<% content_for :title, "Information" %>
<div class="well">
	<div class="page-header">
		<h1>Server Information</h1>
	</div>


	<div class="row">
		  <div class="col-md-8">
		  	<p>Welcome to AthensMC! We have a few rules here which all players need to follow to make the play experience fair.
		  		<ul>
		  			<li>We want to have easy access to the future terrain features without a restart of the map, so please don't go sailing or walking for thousands of blocks. Stay within 1500 blocks in all directions from spawn. </li>
		  			<li>Don't cheat or use client mods which give you an unfair advantage over others. No flyhacks, wallhacks, kill aurora and so forth are allowed. Use of any mods which are determined to give an unfair advantage will result in a PERMABAN.</li>
		  			<li>Keep afk mob grinders to a minimum, use of them while you're online is okay. If you're not online, have an off switch for them.
		  			</li>
		  			<li>Do not take other peoples items without asking first, in addition, please leave a sign on things that are yours stating your name. We're all friends here, but we still need to be respectful of others work. You wouldn't want to spend all day chopping trees just to login the next day and find no logs would you?</li>
		  			<li>Join us in the discussion on how we shape the servers.</li>
		  		</ul>
		  	</p>
		  </div>
		  <div class="col-md-4 center">
	<div class="well infowell">
					<h4><Strong>Server Addreses</strong></h4>
		 			<p><strong>Minecraft IP:</strong> survival.athensmc.com</p>
		 			<p><strong>Mumble IP:</strong> 198.27.65.206 (default port)</p>

	        		<%= link_to "Overviewer Map", "http://maps.athensmc.com" %>

				<p><%= link_to "Forums.AthensMC.com", "http://forums.athensmc.com" %> </p>

		  		</div>
		  </div>
	</div>
</div>
