<% page_title "Information" %>

<div class="page-header">
  <h4 class="page-title"><%= t('.title') %></h4>
  <h5 class="page-subtitle"><%= t('.subtitle') %></h5>
</div>

<div class="row justify-content-center">
  <div class="col-md-10">
    <div class="card mb-3">
			<div class="card-body">
				<h5>Introduction</h5>
				<p>AthensMC is a gaming community made up of gamers who share common interests in games and enjoy playing in a community that is fun and fair. The following rules should serve as a guideline to help promote and foster community growth. </p>

				<h5>Discussion and Debates</h5>
				<p> We understand the desire to express opinions on topics/discussions and we encourage it. However rudeness and excessive profanity is not conducive to the community environment we desire and therefore is not allowed. If you'd like to debate on a topic or way you think something should be done, take a tactical approach and read it over before you submit it.</p>

				<h5>Be Responsible</h5>
				<p>Everyone who plays on the servers should act responsibly. This also applies to discussions on our forum system, voice chat server and our game servers. If you are not acting in a responsible and courteous manner you may be removed from the community. </p>

				<h5>No Harassment</h5>
				<p>Do NOT harass/threaten or abuse any community member, period. This should go without saying but this includes but is not limited to  abuse based on gender, race, ethnicity, religion, sexual preference, or speaking abilities. If you are found to have harassed members of the community you will be removed. </p>

				<h5>Administrators/Moderators</h5>
				<p>The staff members are expected to uphold the utmost respect for all players of the community and are held to the same rules as players. They are chosen by King601 and are not up for debate. If you ask to become a staff member you will not become one. If you have an issue with a staff member contact King.
					You can contact him by emailing athens.minecraft@gmail.com.</p>
				<p>I trust my staff to handle many tasks and responsibilities that help to keep the community running smoothly. If you have a suggestion for how we can improve we are ALWAYS open to hear them.</p>

				<h5>Rule Changes/Suggestions</h5>
				<p>We reserve the right to make edits to these rules at any time. Changes will be announced on the Forums at the time in which they become effective. If you have a suggestion or question related to the rules please contact us via our email at athens.minecraft@gmail.com.
			</div>
		</div>

		<div class="card mb-3">
			<div class="card-header">
				<h5>Gaming Server Rules</h5>
			</div>
			<div class="card-body">
				<ul>
					<li>Do not cheat or use client mods which give you an unfair advantage over others. No flyhacks, wallhacks, kill aura etc.. Use of any mods which are determined to give an unfair advantage will result in a PERMABAN. If you have a question about if a mod is allowed ask a Staff Member. </li>
					<li>Do not take other peoples items without asking first, in addition, please leave a sign(if the game allows it) on things that are yours stating your name. We're all friends here, but we still need to be respectful of others work. </li>
					<li>No Spamming/Solicitation - We don't want to repeatedly hear about your YouTube video every 5 minutes. Posting about it/discussion about your video is okay, just don't spam chat with it. Advertising a product or service(outside of the game) is prohibited unless you get approval from a Staff Member. </li>
				</ul>
			</div>
		</div>
	</div>
</div>
