<div class="well">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title panel-sm">
				<h1>Server Information</h1>
			</div>
		</div>

		<div class="panel-body">
			<p>Server Information goes here.</p>

		</div>

		<div class="panel-footer">
			<p>Interested in joining? Check out our Forums </p>

			<p><%= link_to "Change Log", change_log_path %></p>
			<p><%= link_to "Contribute to our fees", support_path %></p>
		</div>
	</div>
</div>
