<% page_title "Statistics" %>
<div class="well">
	<div class="page-header">
	<h1>Website Stats</h1>
	</div>
<%= @users.count %> users  | <%= @casts.count %> casts | <%= @revisions.count %> revisions
</div>