<% page_title "Statistics" %>
<div class="well">
	<div class="page-header">
	<h1>Website Stats</h1>
	</div>

	<!-- Stats Table -->
	<table class="table table-striped table-bordered table-condensed table-responsive">	
	  <tr>
		<td>Type:</td>
		<td>Number of:</td>
	  </tr>
	  <!-- Users -->
	  <tr>
	  	<td>Users</td>
	  	<td><%= @users.count %></td>
	  </tr>
	  <!-- Revisions -->
	  <tr>
	  	<td>Revisions</td>
	  	<td><%= @revisions.count %></td>
	  </tr>
	  <!-- Casts -->
	  <tr>
	  	<td>Casts</td>
	  	<td><%= @casts.count %> </td>
	  </tr>
	</table>
	<!-- End Stats Table -->
</div>