<% content_for :title, "Subscribe" %>
<div class="well">
  <div class="page-header">
    <h1>Subscribe to Athens</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p>Welcome to AthensMC! At this time, access to the servers is available by filling out our application on the forums. However, running a server (or servers) costs money. If you would like to help us keep the servers open so everyone can enjoy access, then we have three subscription levels you can use. </p>

      <h3> Subscription Levels and Benefits</h3>

      <p>We currently offer three subscription levels - Silver for $6 per month, Gold for $12 per month, and Platinum for $18 per month. When you subscribe, you'll receive a custom title on the forums which lets everyone know you're a supporter! In addition, we plan on having monthly 'supporter only' events such as UHC tournaments, group CTM maps, and so forth where you can hang out with us, play and chat. As previously stated above, we do not want to mislead you - you do NOT need to subscribe to play, nor will you get in-game benefits when logging on to our Minecraft servers.
</p>

  <h3 style="color: red;">Important Notes</h3>
      <p>By contributing to AthensMC you understand and agree to the following:
        <ul>
          <li>Supporters are NOT exempt from the rules, nor from being banned from the servers for breaking the rules. If you are banned your subscription will of course be ended, but no money paid to that point will be refunded or pro-rated.</li>
          <li><Strong><font color="red">There will be no refunds, as all payments go directly to server costs/enhancements.</font></strong></li>
          <li>There are no guarantees of service, uptime, etc.</li>
        </ul>
      </p>
    </div>


<div class="col-md-4 panel panel-info">

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <div class="panel-body">
    <div class="form-group">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="WTYYRNAWMWFFE">
    </div>

    <div class="form-group">

      <input type="hidden" name="on0" value="">Payment Types<select class="form-control" name="os0">
        <option value="Silver">Silver : $6.00 USD - monthly</option>
        <option value="Gold">Gold : $12.00 USD - monthly</option>
        <option value="Platinum">Platinum : $18.00 USD - monthly</option>
      </select>
    </div>

    <div class="form-group">

      <input type="hidden" name="on1" value="Minecraft Username">Minecraft Username: <input type="text" class="form-control" name="os1" maxlength="200">
    </div>
    <div class="form-group">
      <input type="hidden" name="on2" value="Email Address:">Email Address:<input type="text" class="form-control" name="os2" maxlength="200">

    </div>

    <div class="form-group">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </div>
</div>
</div>
</div>
