<% content_for :title, "Subscribe" %>
<div class="well">
  <div class="page-header">
    <h1>Subscribe to Athens</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p>In an effort to offset my own costs I was asked to put up a donation widget to allow others to support the server and our costs. At the moment the server costs $60 a month and the domain is another $10 for the year. (that's why the widget says $730)</p>

      <p>By contributing to AthensMC you understand and agree to the following:
        <ul>
          <li>You are not exempt from the server rules, and you can still be banned for breaking them</li>
          <li>Contributions will go to cover the server and domain fees first before other personal things.</li>
          <li>By playing on AthensMC you're not obligated to contribute and contributers get no special perks other than knowing they help to keep us around.</li>
          <li><strong><font color="red">They are not refundable</font></strong></li>
        </ul>
      </p>
      <p>
        Last but not least I would like to say thank you very much to anyone who was played on the server or contributed to the server fees. I don't mind paying for it out of pocket most months but sometimes things are tight and it's nice to know you guys cared enough to help me out with it. So thank you! <br />
        - King
      </p>
    </div>
    <div class="col-md-4 center">
      <div class="well">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="WTYYRNAWMWFFE">
        <table>
        <tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0">
          <option value="Silver">Silver : $5.00 USD - monthly</option>
          <option value="Gold">Gold : $10.00 USD - monthly</option>
          <option value="Platinum">Platinum : $15.00 USD - monthly</option>
        </select> </td></tr>
        <tr><td><input type="hidden" name="on1" value="Minecraft Username">Minecraft Username</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
        <tr><td><input type="hidden" name="on2" value="Email Address:">Email Address:</td></tr><tr><td><input type="text" name="os2" maxlength="200"></td></tr>
        </table>
        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>
  </div>
</div>
