<% page_title "All Servers" %>

<div class="page-header">
  <h4 class="page-title"><%= t(".title") %></h4>
  <h5 class="page-subtitle"><%= t(".subtitle") %></h5>

	<div class="page-actions">
    <%= link_to("Add Server", new_admin_server_path,
      class: "btn btn-primary btn-sm") %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-lg-12">
    <div class="card mb-3">

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-border-around mb-0">
            <thead>
              <tr>
						    <th>Name</th>
						    <th>IP</th>
						    <th>Ports</th>
						    <th>Created</th>
                <th style="min-width: 140px;"></th>
              </tr>
            </thead>
            <tbody>
              <%= render(@servers, cached: true) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
