<div class="card text-white bg-info mb-3">  
  <div class="card-header">Chat with us</div>
  <div class="card-body">
    <p class="card-text">
      Join our mumble server:<br/>
      <strong>Mumble IP:</strong> mumble.athensmc.com (port: 64738)
    </p>
  </div>
</div>
