<div class="card card-body">
  <a class="twitter-timeline" data-dnt="true"
    href="https://twitter.com/AthensMinecraft"
    data-widget-id="471126696138002432">Tweets by @AthensMinecraft</a>
  <script src="//platform.twitter.com/widgets.js"></script>
</div>
