.forum-thread-card {
  display: block;
  color: #666;
  border-radius: 5px;
  padding: 10px 10px;
  margin-bottom: 10px;
  img {
    width: 32px;
    height: 32px;
  }
  h3 {
    // This makes the forum thread title behave and not use so much space above
    margin-top: 5px;
  }
}
.forum-thread-card:hover {
  text-decoration: none;
  background-color: $athens_grey;
}
.forum-thread-card,
a {
  text-decoration: none;
  background-color: transparent;
}

.forum-post-header {
  p {
    line-height: 48px;
  }
  img {
    float: left;
    margin-left: 25px;
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }
  padding-bottom: 10px;
}
.forum-post-body {
  margin-left: 25px;
  padding-bottom: 5px;
}
.original-poster {
  background-color: #f6f6ee;
}
.forum_post {
  padding-top: 5px;
  margin-bottom: 20px;
}
.label .label-success {
  text-transform: UPPERCASE;
}

/* Forum thread preview */
.forum-thread-filters .list-group-item.active {
  z-index: 2;
  color: $white;
  background-color: $gray-200;
  border-color: $gray-200;
  color: $gray-900;
}

.forum-thread-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  a {
    color: $body-color;
  }

  .forum-thread-avatar {
    margin-right: 20px;
  }

  .forum-thread-details {
    font-size: 80%;
    margin-right: auto;
    width: 75%;

    .thread-details {
      .forum-thread-category {
        text-transform: uppercase;
      }
    }
  }
}

.thread-posts-count {
  .count {
    font-size: 1.5em;
    line-height: 1em;
  }
  .posts {
    font-size: 80%;
  }
}
