.page-header {
  padding-bottom: 3rem;
  padding-top: 3rem;
  text-align: center;
}

.page-title {
  display: block;
}

.page-subtitle {
  color: $gray-600;
  margin-bottom: 0;
}

.page-actions {
  margin-top: $spacer * 1.5;
}
