////////////////////////////
//   AthensMC Variables   //
////////////////////////////

// AthensMC Specific Colors
$athens_blue: #3498db; //Blue Navbar
$athens_grey: #ecf0f1; //Background color

// Footer
$footer-height: 164px;
