<% page_title "Request access" %>
  <h1 class="display-5">Request Access to the Servers</h1>

  <div class="row">
    <div class="col-md-12">
      <p>Thank you for your interest in joining AthensMC! We are very excited to have you wish to join us. In order to process your application we need two things. A linked Minecraft account and your agreement to our <%= link_to "Community Rules & Information", information_path %>.</p>
      <!-- Whitelist Status -->
      <h3>Membership Status</h3>

      <% if current_user.whitelist_request %>
        <!-- If the user has a whitelist request tell them their status -->
        <% if current_user.whitelist_request.status == "pending" %>
          <p class="text-info text-middle">
            <strong>Your request is still pending!</strong>
            <i class="fa fa-2x fa-pencil-square"></i>
          </p>
        <% end %>
        <% if current_user.whitelist_request.status == "approved" %>
          <p class="text-success text-middle">
            <strong>You are whitelisted!</strong>
            <i class="fa fa-2x fa-check-square-o"></i>
          </p>
        <% end %>
        <% if current_user.whitelist_request.status == "denied" %>
            <p class="text-danger text-middle">
              <strong>Your application has been denied!</strong>
              <i class="fa fa-2x fa-times-circle-o"></i>
            </p>
        <% end %>
      <% else %>
        <!-- If no whitelist requests then we should show the form -->
        <%= render "form" %>
      <% end %>
    </div>
  </div>
</div>
