<% page_title "All Users" %>

<div class="well">
	<div class="page-heading">
		<h1>All Users</h1>
	</div>

	<%# if @users.suggestions.any? %>
		<!-- <p class="lead">Did you mean: <%# @users.suggestions.first %>?</p> -->
	<%# end %>
	<table class="table table-hover table-striped table-bordered table-responsive">
	 <thead>
		  <tr>
		    <th>User ID:</th>
		    <th>Avatar</th>
		    <th>Username:</th>
		    <th>Email Address:</th>
		    <th>IP:</th>
		    <th>Last Seen:</th>
		    <th>Rank</th>
		    <th>UUID</th>
		  </tr>
		</thead>
	  <tbody>

			<%= render @users %>

	  </tbody>
	</table>

	<div class="center">
		<%= will_paginate @user, renderer: BootstrapPagination::Rails %>
	</div>

</div><!-- /.well -->
