<% page_title "Admining: " + @user.username %>

<div class="page-header">
  <h1> <%= image_tag @user.decorate.minecraft_avatar %> <%= @user.username %>
    <small><%= @user.minecraft_uuid %></small></h1>
  <h3>Information</h3>
</div>
Things I want to see for the user:
- IP address
- Application Status (approved_member set to true or false)
- Mojang Minecraft UUID
