<% page_title "Admining: " + @users.username %>

<div class="page-header">
  <h1><%=@users.username %> <small>Subtext for header</small></h1>
  <h2><%= @users.minecraft_uuid %></h2>
</div>
Things I want to see for the user:
- IP address
- Application Status (approved_member set to true or false)
- Mojang Minecraft UUID
