<% page_title "AthensCast" %>
<div class="well">

	<div class="jumbotron center jumboalert">
		<h1 class="jumbo-header">Got a suggestion?</h1>
		<p>Give us a hollar and we'll look into it for the next episode!</p>
		<button class="btn btn-primary btn-lg">I have something you should talk about</button>
	</div>


	<div class="page-header">
		<h1>Episodes</h1>
	</div>

	  <div class="episode-card">
 		  <h3 style="margin-top:0px">
				<img src="http://placehold.it/300x150" class="img-responsive img_gloss">
	              <span class="pull-right label label-danger">New Episode</span>
	              <a href="/episodes/concerns-making-soft-deletable-module">Concerns: Making a Soft Deletable module</a>
          </h3>
           <p><strong class="text-muted">
              Episode 42 · February 12, 2015 · Length: 18:10
            </strong></p>
            <p>An introduction to Ruby on Rails concerns where we build a Soft Deletable module like the Paranoia gem</p>

              <p><a class="plain-link" href="/episodes/concerns-making-soft-deletable-module">Watch this Episode <span class="arrow">→</span></a></p>
 	  </div>
          <hr />
	  

	<!--
	<div class="row">
		<div class="col-md-4">
			<img src="http://placehold.it/350x150" class="img-responsive">
			<strong>Episode 25</strong> 
			<div class="pull-right">January 22nd, 2015</div>
		</div>
		<div class="col-md-4">
			<img src="http://placehold.it/350x150" class="img-responsive">
			<strong>Episode 24</strong> 
			<div class="pull-right">January 22nd, 2015</div>
		</div>
		<div class="col-md-4">
			<img src="http://placehold.it/350x150" class="img-responsive">
			<strong>Episode 23</strong> 
			<div class="pull-right">January 22nd, 2015</div>
		</div>
	</div>
	<br />	<div class="row">
		<div class="col-md-4">
			<img src="http://placehold.it/350x150" class="img-responsive">
			<strong>Episode 22</strong> 
			<div class="pull-right">January 22nd, 2015</div>
		</div>
		<div class="col-md-4">
			<img src="http://placehold.it/350x150" class="img-responsive">
			<strong>Episode 21</strong> 
			<div class="pull-right">January 22nd, 2015</div>
		</div>
		<div class="col-md-4">
			<img src="http://placehold.it/350x150" class="img-responsive">
			<strong>Episode 20</strong> 
			<div class="pull-right">January 22nd, 2015</div>
		</div>
	</div>

	-->
</div>